.search-panel {
    position: relative;
    display: flex;
    justify-content: center;
}
.search-input {
    width: 280px;
    height: 32px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    color: #827F88;
}
.filter-icon {
    position: relative;
    margin-left: 20px;
    margin-top: 13px;
}
.search-icon {
    margin-left: -30px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}